@import '~bootstrap/scss/bootstrap';

$black-color: #000;

// made row 100% so it would span width of screen
.wrapper {
  .row {
    width: 100%;
  }
}

// used a google font
body {
  font-family: 'Happy Monkey', cursive;
  background-color: blue;
}

#Message {
  color:white;
}
// how I created the tic tac toe grid
.container {
  .row {
    &:nth-of-type(2) {
      border-top: 10px solid #666666;
      border-bottom: 10px solid #666666;
    }
    .box {
      &:nth-of-type(2) {
        border-left: 10px solid #666;
        border-right: 10px solid #666;
      }
    }
  }
}

// set the tic tac toe grid to be 150px high and a font-size of 80pixels

.grid > div {
  height: 150px;
  font-size: 100px;
  // color: #DF3AFF;
  // background-color: #35E8CD;
}

.change-password-button {
  display: none;
}
// update class has a width of 60px for input boxes
.update {
  width: 60px;
}

#update-game {
  align-content:center;
}

#show-game{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.btn.btn-primary--crisp {
  border-radius: 0;
  margin-top: 0;
}

.sign-out-div {
  display: none;
}

.tictactoe-grid {
  display: none;
}

.bottom-grid {
  display: flex;
  justify-content: center;
}

#create-user, #sign-in, #change-password {
  display: flex;
  flex-direction:column;
}

.right-side {
  text-align: center;
}

.show-input {
  width: 120px;
  height: 37px;
}


.game {
  display: flex;
  height: 100px;
}

.bottom {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.bottom-buttons, #update-game {
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
}
.box {
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

h1 {
  margin: 20px 0 30px 0;
  text-align: center;
  color:#DF3AFF;
}

.btn {
  margin: 30px;
}

#insideGrid {
  display: none;
  margin-top: 40px;
  color: #35E8CD;
}

#Message {
  text-align: center;
}

nav.row, .nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

nav > div {
  flex-grow: 1;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  align-items: center;
  display: flex;
  height: 150px;
  text-align: center;
}
